.firstSection {
  color: white;
  background-image: url("../images/homepage/hero-bg-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.firstSection .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.firstSection img {
  margin-top: 35vh;
  width: 103px;
}
.firstSection .title {
  font-family: Spartan;
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 40px;
  /* or 125% */
  text-align: center;
  letter-spacing: -0.8px;
  padding: 0 20px;
  margin: 25px 25px;
}
.firstSection .description {
  margin: 0px 25px;
  font-family: Spartan;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  /* or 167% */
  text-align: center;
  letter-spacing: -0.1875px;
}
.firstSection button {
  margin: 30px auto 160px auto;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  width: 244.25px;
  height: 64px;
  background-color: black;
  font-family: Spartan;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */
  letter-spacing: 2px;
  color: white;
}
.secondSection {
  margin: -70px 24px 0px 24px;
}
.secondSection .picture {
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.secondSection .picture-place {
  background-image: url("../images/homepage/enjoyable-place-mobile.jpg");
}
.secondSection .picture-food {
  background-image: url("../images/homepage/locally-sourced-mobile.jpg");
}
.secondSection .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.secondSection .content img {
  margin: 35px auto;
}
.secondSection .content .title {
  font-family: Spartan;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  /* or 125% */
  text-align: center;
  letter-spacing: -0.4px;
}
.secondSection .content .description {
  font-family: Spartan;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  /* or 167% */
  text-align: center;
  letter-spacing: -0.1875px;
  color: #242B37;
  margin-bottom: 80px;
}
