.black-button-white-text() {
    border: 1px solid #FFFFFF;
    width: 244.25px;
    height: 64px;
    background-color: black;

    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */

    letter-spacing: 2px;
    color: white;

    &:hover {
        background: white;
        color: black;
        cursor: pointer;
        border: 1px solid black;

    }
}

.transparent-button-black-text() {
        border: 1px solid #FFFFFF;
        width: 244.25px;
        height: 64px;
        background-color: transparent;
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        /* identical to box height, or 114% */

        letter-spacing: 2px;
        color: white;

        &:hover {
            background: white;
            border: 1px solid black;
            color: black;
            cursor: pointer;
        }
}