@import "./mixins/button-mixins.less";
.booking-header {
    text-align: center;
    color: white;
    min-height: 100vh;
    background-image: url("../images/booking/hero-bg-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 16px 24px;

    .logo {
        margin: 56px auto;
    }

    .title {
        font-weight: 300;
        font-size: 32px;
        line-height: 40px;
        /* identical to box height, or 125% */

        letter-spacing: -0.4px;
    }

    .content {

        font-weight: normal;
        font-size: 15px;
        line-height: 25px;
        /* or 167% */

        letter-spacing: -0.1875px;

        margin: 16px auto;
    }

    button {

        margin: 30px auto 160px auto;
        .transparent-button-black-text();
    }

    @media screen and(min-width:768px) {
        min-height: 50vh;
        background-image: url("../images/booking/hero-bg-tablet.jpg");

        padding: 56px 10vw;
        text-align: start;

        .logo {
            margin-top: 0;
            margin-bottom: 64px;
        }

        .title {

            font-size: 48px;
            line-height: 64px;
            /* identical to box height, or 133% */

            text-align: center;
            letter-spacing: -0.6px;
        }

        .content {
            width: 540px;
            font-size: 18px;
            line-height: 30px;
            /* or 167% */

            text-align: center;
            letter-spacing: -0.225px;
            margin: 24px auto;
            
        }

        button {
            display: none;
        }
    }

    @media screen and(min-width:1200px) {
        min-height: 0vh;
        background-image: url("../images/booking/hero-bg-desktop.jpg");

        .title {
            width: 30vw;
            text-align: start;

        }

        .content {
            width: 360px;
            text-align: start;

            margin: 24px 0;
        }
    }
}