@import "./mixins/button-mixins.less";
@import "./mixins/header-img-mixins.less";

.booking-header {
    .header-img-bg();
    background-image: url("../images/booking/hero-bg-mobile@2x.jpg");
    padding: 16px 24px;

    .logo {
        margin: 56px auto;
    }

    .title {
        font-weight: 300;
        font-size: 32px;
        line-height: 40px;
        /* identical to box height, or 125% */

        letter-spacing: -0.8px;
    }

    .content {
        font-weight: normal;
        font-size: 15px;
        line-height: 25px;
        /* or 167% */

        letter-spacing: -0.1875px;
        margin: 16px auto;
    }

    button {

        margin: 30px auto 160px auto;
        .transparent-button-white-text();
    }

    @media screen and(min-width:768px) {
        min-height: 50vh;
        background-image: url("../images/booking/hero-bg-tablet@2x.jpg");

        padding: 56px 10vw;

        .logo {
            margin-top: 0;
            margin-bottom: 64px;
        }

        .title {

            font-size: 48px;
            line-height: 64px;
            /* identical to box height, or 133% */

            letter-spacing: -0.6px;
        }

        .content {
            width: 540px;
            font-size: 18px;
            line-height: 30px;
            /* or 167% */

            letter-spacing: -0.225px;
            margin: 24px auto;

        }

        button {
            display: none;
        }
    }

    @media screen and(min-width:1200px) {
        min-height: 0vh;
        background-image: url("../images/booking/hero-bg-desktop@2x.jpg");
        text-align: start;

        .title {
            width: 30vw;

        }

        .content {
            width: 360px;

            margin: 24px 0;
        }
    }
}