@import "./mixins//button-mixins.less";

.fifth-section {
    background-image: url("../images/homepage/ready-bg-mobile@2x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {

        font-weight: bold;
        font-size: 32px;
        line-height: 40px;
        /* or 125% */

        text-align: center;
        letter-spacing: -0.4px;

        color: #FFFFFF;
    }

    button {

        margin-top: 30px;
        .transparent-button-white-text();
    }

    @media screen and (min-width: 768px) {
        background-image: url("../images/homepage/ready-bg-tablet@2x.jpg");

    }

    @media screen and (min-width: 1200px) {
        background-image: url("../images/homepage/ready-bg-desktop@2x.jpg");
        padding: 80px 10vw;

        flex-direction: row;
        justify-content: space-between;

        button {
            margin-top: 0;
        }

    }
}